<launch>
  <arg name="ns" default="/kulbu" />
  <arg name="world" default="default" />
  <arg name="robot" default="kulbu" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find kulbu_gazebo)/worlds/$(arg world).world"/>
    <arg name="gui" value="true"/>
  </include>

</launch>
