<launch>
  <arg name="ns" default="/kulbu" />
  <arg name="robot" default="kulbu" />

  <arg name="use_twowheels" default="false" />

  <!-- URDF robot description -->
   <param name="$(arg ns)/robot_description" command="$(find xacro)/xacro.py '$(find kulbu_description)/urdf/$(arg robot).xacro' ns:=$(arg ns)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="kulbu_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -param $(arg ns)/robot_description -model $(arg ns)" />

</launch>
